.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container a {
  margin: 50px;
}

.container img {
  width: 200px;
  height: 200px;
}
.links {
  color: #000;
  margin-top: 50px;

  text-align: center; /* Centraliza os links */
}
.links ul {
  padding: 0; /* Remove o padding padrão da lista */
}
.links li {
  display: inline; /* Coloca os itens da lista em linha */
}
.links li:not(:last-child) a {
  /* Adicionado para evitar espaçamento extra no último link */
  margin-right: 100px;
}
.links li a {
  text-decoration: none;
}
.links li a:hover {
  color: rgb(156, 28, 69);
  text-decoration: underline;
}
.links li a:visited {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.links p {
  color: #000;
}
