/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ccc; /* Alterei a cor de fundo para cinza claro */
}

/* Navbar */
header nav {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav .fiap {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .fiap h1 {
  font-size: 24px;
  margin-right: 20px;
}

header nav .fiap .logo img {
  width: 80px;
  height: auto;
}

/* Conhecendo os Cursos */
main .cursos {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

main .cursos .conhecendo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

main .cursos .links {
  list-style: none; /* Removendo as bolinhas */
  margin: 0;
  padding: 0;
}

main .cursos .links div {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

main .cursos .links li a {
  color: #fff;
  text-decoration: none;
}

main .cursos .links li a:hover {
  text-decoration: underline;
}

/* Box de texto */
main .boxp {
  border-radius: 0px;
  background: #f2f2f2;
  box-shadow: 6px 6px 12px #c6c6c6, -6px -6px 12px #ffffff;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto;
  width: 70%;
  height: 500px;
  padding: 200px;
}
.cursos .links .adm a {
  color: rgb(139, 190, 238);
}
.cursos .links .ads a {
  color: rgb(5, 49, 131);
}
.cursos .links .bancoDeDados a {
  color: rgb(65, 6, 119);
}
.cursos .links .engComputacao a {
  color: rgb(4, 87, 87);
}
.cursos .links .engProducao a {
  color: rgb(236, 248, 126);
}
.cursos .links .engMecatronica a {
  color: rgb(189, 106, 29);
}
.cursos .links .gestaoTec a {
  color: rgb(175, 131, 245);
}
.cursos .links .jogos a {
  color: rgb(126, 145, 153);
}
.cursos .links .rede a {
  color: rgb(109, 201, 144);
}
.cursos .links .si a {
  color: rgb(134, 169, 192);
}
.cursos .links .sistema a {
  color: rgb(196, 174, 77);
}
.cursos .links .propraganda a {
  color: rgb(253, 253, 251);
}

/* Responsividade */
@media screen and (max-width: 768px) {
  header nav .fiap h1 {
    font-size: 20px;
  }
  header nav .fiap .logo img {
    width: 60px;
  }
  main .cursos .conhecendo {
    font-size: 20px;
  }
  main .boxp {
    font-size: 16px;
  }
}
